
{{form_start(form)}}
<div class="input-group justify-content-center">
    <div class="form-outline" data-mdb-input-init>
        {{ form_row(form.query) }}
    </div>
  
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
        <i class="fas fa-search"></i> Rechercher
    </button>
</div>
{{form_end(form)}}